.titre{
    background-color: #B50101 ;
    color: white;
    padding: 15px;
}

.info{
    display: flex;
    text-align: center;
    padding-bottom: 44px;
    padding-left: 15px;
}

.soustitre{
    padding-left: 15px;
    padding-right: 15px;
}

.tarif{
    padding-left: 15px;
    padding-right: 15px;
}

.tarifli{
    padding-bottom: 15px;
}

.titreartiste{
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 15px;
}

.artistes{
    text-align: center;
}

.portrait{
    padding-bottom: 37px;
}

.carrousel{
    text-align: center;
}

.Biographie{
    padding-left: 15px;
    padding-right: 15px;
}

.filarticle{
    display: flex;
    text-align: center;
    padding-bottom: 5px;
}

.block{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.Oeuvre{
    margin-left: 10px;
}

.imgoeuvre{
    display: flex;
    text-align: center;
}

.apropos{
    padding-left: 15px;
    padding-right: 15px;
}

.imgapropos{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 2px;
}

.hypertext{
    color: #B50101;
    text-decoration: none;
}

h5{
    padding-left: 30px;
}

.contour{
    border:2px solid #B50101;
    margin: 20px;
    padding-left: 160px;
}

.texrt404{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.titre404{
    color: black;
    text-align: center;
}

.error{
    text-align: center;
    padding-top: 100px;
}

.recherche{
    text-align: center;
}

.redirect{
    list-style-type: none;
}

.redtext{
    text-decoration: none;
    color: #B50101;
    font-size: 20px;
    border: 2px solid #B50101;
    border-radius: 5px;
    margin-bottom: 5px;
}

.redlist{
    display: block;
    text-align: left;
    margin-top: 20px;

}

.redtitre{
    font-size: 50px;
}

.h1404{
    padding-right: 160px;
}
