.titre{
    background-color: #B50101 ;
    color: white;
    padding: 15px;
}

.info{
    display: flex;
    text-align: center;
    padding-bottom: 44px;
    padding-left: 15px;
}

.soustitre{
    padding-left: 15px;
    padding-right: 15px;
}

.tarif{
    padding-left: 15px;
    padding-right: 15px;
}

.tarifli{
    padding-bottom: 15px;
}

.titreartiste{
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 15px;
}

.artistes{
    text-align: center;
}

.portrait{
    padding-bottom: 37px;
}

.carrousel{
    text-align: center;
}

.Biographie{
    padding-left: 15px;
    padding-right: 15px;
}

.filarticle{
    display: flex;
    text-align: center;
    padding-bottom: 44px;
    padding-left: 15px;
}

.block{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.Oeuvre{
    margin-left: 10px;
}

.imgoeuvre{
    display: flex;
    text-align: center;
}

.apropos{
    padding-left: 15px;
    padding-right: 15px;
}

.imgapropos{
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 2px;
}

.acbutton{
    border-width: 3px;
    border-style: solid;
    border-color: #B50101;
    border-radius: 10px;
}

.accordeon{
    padding-left: 15px;
}

.borderac{
    padding-bottom: 10px;
}