.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5A5A5A;
    z-index: 1;
}

button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
    margin-top: 10px;
  }

.list {
    list-style-type: none;
    color: white;
    padding-top: 10px;
  }

.fermer{
    float: right;
    cursor: pointer;
    color: white;
    padding-top: 40px;
    padding-right: 24px;
}

.menuburger{
    padding-top: 50px;
}

.menuburger2{
    padding-top: 50px;
}

.vector{
    position: absolute;
    width: 85%;
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.link{
    text-decoration: none;
    color: white;
}