.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
    margin-top: 10px;
  }

.list {
    list-style-type: none;
    color: #fff;
  }

.fermer{
    float: right;
    cursor: pointer;
    color: white;
}