.frisetitre{
   padding-left: 15px;
}


.chronologique {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.chronologique:before {
   content: '';
   position: absolute;
   top: 0;
   margin-left: -1px;
   width: 5px;
   height: 100%;
   background: #B50101;
   z-index: 0;
}

.frise {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   clear: both;
}


.marque {
   width: 16px;
   height: 5px;
   border: 2px solid #5A5A5A;
   background: #5A5A5A;
   margin-top: 21px;
   z-index: -1;
}

.positiontext {
   width: 95%;
   padding: 0 15px;
   color: black;
}


.positiontext span {
   color: black;
}

.positiontext p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: black;
}