* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}


.chronologique {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.chronologique:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #B50101;
   z-index: 1
}

.frise {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.frise-right {
   float: right;
}

.rond {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #5A5A5A;
   background: #5A5A5A;
   margin-top: 10px;
   z-index: 9999
}

.positiontext {
   width: 95%;
   padding: 0 15px;
   color: black;
}


.positiontext span {
   font-size: 15px;
   color: black;
}

.positiontext p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: black;
}
